<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Pregunta 3</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="form">
      <mat-form-field class="example-form-field">
        <mat-label>Ingrese la cantidad de cursos</mat-label>
        <input matInput type="number" #txtcurso>
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="submit(txtcurso)">Calcular</button>
  </mat-card-actions>
  <mat-card-actions>
    <div>
      <p>Total Calculado: {{total}}</p>
    </div>
  </mat-card-actions>
</mat-card>