<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Pregunta 4</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="form">
      <mat-form-field>
        <mat-label>Ingrese su indicador</mat-label>
        <input matInput type="text" #txtindicador>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Ingrese la tasa</mat-label>
        <input matInput type="number" #txttasa>
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="submit(txtindicador,txttasa)">Calcular</button>
  </mat-card-actions>
</mat-card>